<a href="https://colab.research.google.com/github/Tasenko03/Course-work/blob/main/patients.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
control_group = pd.read_csv('/content/contol_group  - contol_group.csv')
control_group

        ID    group     sex  age       education  years of education
0   PN-002  control  female   36          higher                  17
1   PN-003  control  female   27          higher                  18
2   PN-004  control    male   20          higher                  14
3   PN-005  control  female   21          higher                  14
4   PN-006  control    male   25          higher                  18
..     ...      ...     ...  ...             ...                 ...
79  PN-315  control  female   37  ученая степень                  17
80  PN-317  control    male   34  ученая степень                  18
81  PN-318  control  female   31          higher                  15
82  PN-322  control  female   41      vocational                  13
83  PN-324  control  female   26          higher                  15

[84 rows x 6 columns]

In [5]:
patients = pd.read_csv('/content/contol_group  - patients.csv')
patients

,ID,group,diagnosis,sex,age,education,years of education
0,PD-005,patient,schizotypal.disorder,female,19,secondary,11
1,PD-009,patient,schizotypal.disorder,female,17,secondary,10
2,PD-012,patient,schizotypal.disorder,female,16,secondary,10
3,PD-026,patient,schizophrenia,female,27,secondary,10
4,PD-028,patient,schizophrenia,female,24,higher,15
5,PD-040,patient,schizophrenia,female,17,secondary,10
6,PD-043,patient,schizotypal.disorder,female,20,vocational.unfinished,12
7,PD-044,patient,schizotypal.disorder,female,21,higher.unfinished,13
8,PD-067,patient,schizotypal.disorder,female,16,secondary,9
9,PD-070,patient,schizotypal.disorder,female,20,vocational.unfinished,12
10,PD-071,patient,schizotypal.disorder,female,19,vocational.unfinished,12
11,PD-076,patient,schizotypal.disorder,female,16,vocational.unfinished,9
12,PD-079,patient,schizoaffective.disorder,female,20,vocational.unfinished,12
13,PD-080,patient,schizotypal.disorder,female,21,higher.unfinished,12
14,PD-081,patient,schizophrenia,female,32,higher,15
15,PD-090,patient,schizotypal.disorder,female,16,secondary,9
16,PD-092,patient,schizotypal.disorder,female,23,vocational,11
17,PD-093,patient,schizophrenia,female,28,vocational,12
18,PD-097,patient,schizotypal.disorder,female,17,secondary,10
19,PD-098,patient,schizoaffective.disorder,female,28,higher,15
20,PD-102,patient,schizophrenia,female,25,vocational,13
21,PD-110,patient,schizophrenia,male,20,higher.unfinished,12
22,PD-113,patient,schizophrenia,female,40,higher,16
23,PD-115,patient,schizoaffective.disorder,male,27,higher.unfinished,13
24,PD-118,patient,schizophrenia,female,25,higher.unfinished,13
25,PD-119,patient,schizophrenia,male,23,secondary,11
26,PD-120,patient,schizophrenia,male,29,secondary,11
27,PD-126,patient,schizophrenia,female,28,higher,15
28,PD-127,patient,schizophrenia,female,34,higher,18
29,PD-130,patient,schizophrenia,female,30,higher,15
30,PD-132,patient,schizoaffective.disorder,female,20,vocational.unfinished,13
31,PD-140,patient,schizophrenia,female,32,higher,15
32,PD-145,patient,schizophrenia,female,35,higher,16
33,PD-146,patient,schizoaffective.disorder,female,19,vocational.unfinished,12
34,PD-147,patient,schizophrenia,female,35,higher.unfinished,13

In [7]:
control_group.describe()

             age  years of education
count  84.000000           84.000000
mean   28.702381           15.035714
std    10.808051            2.073623
min    18.000000           10.000000
25%    21.000000           14.000000
50%    23.500000           15.000000
75%    34.250000           16.000000
max    59.000000           20.000000

In [8]:
patients.describe()

             age  years of education
count  35.000000           35.000000
mean   23.971429           12.428571
std     6.492012            2.252916
min    16.000000            9.000000
25%    19.000000           11.000000
50%    23.000000           12.000000
75%    28.000000           14.000000
max    40.000000           18.000000